<%= form_with model: @developer, local: true do |form| %>
 
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@developer.errors.count, "error") %> prohibited
        this developer from being saved:
      </h2>
      <ul>
        <% @developer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="editForm">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, class: "" %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description, class: "" %>
    </p>
    <p>
      <%= form.label :image %><br>
      <%= form.file_field :image, class: "" %>
    </p>
  </div>

  <%= form.submit class: "submitForm" %>

 
<% end %>