<div class="" id="">
  <%= @developer.title %>
  <%= image_tag(@developer.image, alt: "", class: "") %>
  <%= @developer.description %>
</div>

<div class="">
  <%= render @developer.products %>
</div>

<%= link_to "Add product", new_developer_product_path(@developer, @developer.products.build),
    class: "", id: "" %>
<%= link_to "Back", developers_path, class: "", id: "" %>