<div style="display: flex; justify-content: center;">
<div class="">
  <div class="">
    <div style="display: flex; flex-direction: column;">
      <%= image_tag(@developer.image, alt: "", class: "") %>
    </div>
    <p>
      <strong>Название:</strong>
      <%= @developer.title %><br><br>
      <strong>Описание:</strong>
      <%= @developer.description %><br><br>
    </p>
  </div>
<hr>
  <div class="">
    <%= render @developer.products %>
  </div>

<%= link_to "Добавить игру", new_developer_product_path(@developer, @developer.products.build),
    class: "", id: "" %>
<%= link_to "Назад", developers_path, class: "", id: "" %>
</div>