<div class="top-header">
  <div class="container">
    <div class="top-header_main">
      <div class="col-md-6 top-header-left">
        <div class="btn-group">
          <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>
                <li>
                  <%= link_to 'administrator', '#', style: "color: red" %>
                </li>
                <li>
                  <%= link_to 'API', '/oauth/application', style: "color: blue" %>
                </li>
              <% end %>
              <li>
                <a href="#">
                  Добро пожаловать, <%= current_user.email %>
                </a>
              </li>
              <li>
                <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
              </li>
              <li>
                <%= link_to 'Редактирование', edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Вход', new_user_session_path %>
              </li>
              <li>
                <%= link_to 'Регистрация', new_user_registration_path %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-6 top-header-left">
      <div class="cart box_1">

        <a href="/cart" onclick="getCart(); return false;">
          <div class="total">

          </div>
        </a>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
</div>